* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --h1: 10vw;

  --p2: calc(0.2 * var(--h1));

  --fs3: 1rem;
  --m3: calc(0.25 * var(--fs3));
  --p3: calc(0.25 * var(--fs3));

  --b3: calc(0.25 * var(--fs3));

  --m1_5: 5vh;
  --m2_5: 5vw;

  --m5: 1rem;

  --m6: calc(var(--fs3) * 0.5);

  --w6: 1.5rem;

  /* COLOR */
  --background1: rgba(225, 225, 255, 0.4);
  --background2: rgba(255, 255, 255, 1);
  --hover1: rgba(0, 0, 255, 0.1);
}

body {
  background-color: var(--background1);
}

.top-nav-bar {
  display: flex;
  padding: var(--p2);
  justify-content: space-between;
}

.branding {
  font-family: "Teko", sans-serif;
  font-size: var(--h1);
}

.brand-image {
  height: var(--h1);
  padding-right: var(--p2);
}

.icon {
  height: var(--h1);
}

.list-and-input {
  padding: var(--m1_5) 0 var(--m2_5) var(--m1_5);
  width: fit-content;
}

.css-var {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background2);
  margin-top: var(--m6);
}

.css-var:hover {
  background-color: var(--hover1);
}

.calculated {
  font-size: var(--fs3);
  margin: var(--m3);
  padding-left: var(--p3);
  border-left: var(--b3) solid grey;
}

.absolute {
  font-size: var(--fs3);
  margin: var(--m3);
  padding-left: var(--p3);
  border-left: var(--b3) solid green;
}

.error {
  border: 1px solid red;
}

.inline-button {
  margin: 0 0 0 var(--m5);
}

.inline-icon {
  width: var(--w6);
}

/* 
##################
# TOUCH DISPLAYS #
################## 
*/

@media screen and (min-width: 429px) {
  :root {
    --h1: 5vw;

    --p2: calc(0.2 * var(--h1));

    --fs3: 1rem;
    --m3: calc(0.25 * var(--fs3));
    --p3: calc(0.25 * var(--fs3));

    --b3: calc(0.25 * var(--fs3));

    --m1_5: 5vh;
    --m2_5: 5vw;
  }
}

/* 
#####################
# COMPUTER DISPLAYS #
##################### */

@media screen and (min-width: 1025px) {
  :root {
    --h1: 2.5vw;

    --p2: calc(0.2 * var(--h1));

    --fs3: 1rem;
    --m3: calc(0.25 * var(--fs3));
    --p3: calc(0.25 * var(--fs3));

    --b3: calc(0.25 * var(--fs3));

    --m1_5: 5vh;
    --m2_5: 5vw;
  }
}
