* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --h1: 10vw;

  --p2: calc(0.2 * var(--h1));

  --fs3: 1rem;
  --m3: calc(0.25 * var(--fs3));
  --p3: calc(0.25 * var(--fs3));

  --b4: calc(0.25 * var(--fs3));
}

.branding {
  display: flex;
  align-items: center;
  font-family: "Teko", sans-serif;
  font-size: var(--h1);
}

.brand-image {
  height: var(--h1);
  padding-right: var(--p2);
}

.icon {
  height: var(--h1);
}

.top-nav-bar {
  display: flex;
  padding: var(--p2);
  justify-content: space-between;
}

.css-var {
  font-size: var(--fs3);
  margin: var(--m3);
  padding-left: var(--p3);
}

.calculated {
  border-left: var(--b4) solid grey;
}

.absolute {
  border-left: var(--b4) solid green;
}

/* 
##################
# TOUCH DISPLAYS #
################## 
*/

@media screen and (min-width: 429px) {
  :root {
    --h1: 5vw;

    --p2: calc(0.2 * var(--h1));
  }
}

/* 
#####################
# COMPUTER DISPLAYS #
##################### */

@media screen and (min-width: 1025px) {
  :root {
    --h1: 2.5vw;

    --p2: calc(0.2 * var(--h1));
  }
}
