* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --fs2: 1rem;
  --p2: calc(0.2 * var(--fs2));
  --fw2: 800;
  --br2: calc(0.5 * var(--fs2));

  --h3: 5vw;
  --fs3: 1rem;

  --m13: 1rem;

  --p6: 5vw;
  --w6: 95vw;
  --m6: calc(var(--fs3) * 0.5);

  --b9: calc(0.25 * var(--fs3));
  --m9: calc(0.25 * var(--fs3));
  --p9: calc(0.25 * var(--fs3));

  --w14: 1.5rem;

  --p12: calc(0.25 * var(--fs3));

  /* COLOR */
  --background1: rgba(225, 225, 255, 0.4);
  --background2: rgba(255, 255, 255, 1);
  --background3: rgba(0, 0, 144, 1);

  --hover1: rgba(0, 0, 255, 0.1);
}

body {
  background-color: var(--background1);
}

/* 1 */
.top-nav-bar {
  display: flex;
  padding: var(--p2);
  justify-content: space-between;
  align-items: center;
}

/* 2 */
.branding {
  padding: 0.5rem;
  background-color: var(--background3);
  /* font-family: "Teko", sans-serif; */
  font-size: var(--fs2);
  font-weight: var(--fw2);
  border-radius: var(--br2);
  color: white;
}

/* 3 */
.brand-image {
  display: none;
  height: var(--h3);
  padding-right: var(--p2);
}

/* 4 */
.image-button {
  background-color: var(--background3);
  padding: var(--p2);
  border-radius: var(--br2);
}

/* 5 */
.icon {
  height: var(--h3);
}

/* 6 */
.list-and-input {
  padding-top: var(--p6);
  margin: auto;
  width: var(--w6);
}

/* 7 */
.css-var {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background2);
  margin-top: var(--m6);
}

/* 8 */
.css-var:hover {
  background-color: var(--hover1);
}

/* 9 */
.calculated {
  font-size: var(--fs3);
  margin: var(--m9);
  padding-left: var(--p9);
  border-left: var(--b9) solid grey;
}

/* 10 */
.absolute {
  font-size: var(--fs3);
  margin: var(--m9);
  padding-left: var(--p9);
  border-left: var(--b9) solid green;
}

/* 11 */
.error {
  border: 1px solid red;
}

/* 12 */
.edit-box {
  padding: var(--p12);
}

/* 13 */
.inline-button {
  margin: 0 0 0 var(--m13);
}

/* 14 */
.inline-icon {
  width: var(--w14);
}

/* 15  */
.input-box {
  padding: var(--p12);
  margin-top: var(--m6);
}

/* 
##################
# TOUCH DISPLAYS #
################## 
*/

@media screen and (min-width: 429px) {
  :root {
    --fs2: 2rem;
    --p2: calc(0.2 * var(--fs2));
    --fw2: 800;
    --br2: calc(0.5 * var(--fs2));

    --h3: 10vw;
    --fs3: 1rem;

    --m13: 1rem;

    --p6: 5vw;
    --w6: 25vw;
    --m6: calc(var(--fs3) * 0.5);

    --b9: calc(0.25 * var(--fs3));
    --p9: calc(0.25 * var(--fs3));
    --m9: calc(0.25 * var(--fs3));

    --w14: 1.5rem;

    --p12: calc(0.25 * var(--fs3));

    /* COLOR */
    --background1: rgba(225, 225, 255, 0.4);
    --background2: rgba(255, 255, 255, 1);
    --background3: rgba(0, 0, 144, 1);

    --hover1: rgba(0, 0, 255, 0.1);
  }
}

/* 
#####################
# COMPUTER DISPLAYS #
##################### */

@media screen and (min-width: 1025px) {
  :root {
    --fs2: 2rem;
    --p2: calc(0.2 * var(--fs2));
    --fw2: 800;
    --br2: calc(0.5 * var(--fs2));

    --h3: 3vw;
    --fs3: 1rem;

    --m13: 1rem;

    --p6: 5vw;
    --w6: 25vw;
    --m6: calc(var(--fs3) * 0.5);

    --b9: calc(0.25 * var(--fs3));
    --p9: calc(0.25 * var(--fs3));
    --m9: calc(0.25 * var(--fs3));

    --w14: 1.5rem;

    --p12: calc(0.25 * var(--fs3));

    /* COLOR */
    --background1: rgba(225, 225, 255, 0.4);
    --background2: rgba(255, 255, 255, 1);
    --background3: rgba(0, 0, 144, 1);

    --hover1: rgba(0, 0, 255, 0.1);
  }
}
